/*-----------------------------
 * GALLERY FORMATTING
 *-----------------------------*/
 .gallery-container {
  margin: 0 auto;
  width: 960px;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
}

.item {
  padding: 15px;
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  margin: 2px;
}
/*-----------------------------
 * GALLERY IMAGES
 *-----------------------------*/
#item-1 {
  background-image: url('gallery/1/anqi.jpg')
}

#item-2{
  background-image: url('gallery/1/david.jpg')
}