/*-----------------------------
 * GALLERY FORMATTING
 *-----------------------------*/
 .container{
  margin: 0 auto;
  width: 960px;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1vh;
}

.item {
  padding: 16.5%;
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  margin: 2px;
}
/*-----------------------------
 * GALLERY IMAGES
 *-----------------------------*/
.item-1 {
  background-image: url('https://github.com/CMU-SoA/IAAI/blob/andrea/gallery/anqi.jpg?raw=true');
}

.item-2{
  background-image: url('https://github.com/CMU-SoA/IAAI/blob/andrea/gallery/david.jpg?raw=true');
}

.item-3{
  background-image: url('https://github.com/CMU-SoA/IAAI/blob/andrea/gallery/jeff.jpg?raw=true');
}

img{
  display: block;
  width: 32px;
}