@charset "utf-8";
/*-----------------------------
 * ALL BODY TEXT
 *-----------------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto');
 
body {
    font-family: "Roboto Light","Roboto Medium";
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: medium;
    text-decoration: none;
    text-align: justify;
    text-justify: inter-word;
}

/*-----------------------------
 * WRAPPER
 *-----------------------------*/
 .wrapper {
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}

/*-----------------------------
 * NAVIGATION
 *-----------------------------*/
.navbar {
    list-style-type: none; /* Get rid of numbering or bullets */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Each item in the list */
.navbar-elem {
    float: left;
}

/* Each link that is the element in the list */
.navbar-elem a {
    display: block; /* Remove line breaks */
    color: white;
    float: left;
    padding: 10px 10px;
    text-decoration: none; /* Remove underline */
    border-right: 1px solid #bbb;
}

/* If hovering */
.navbar-elem a:hover {
    background-color: #111;
}

/* Assign this to the active page */
.navbar-elem-active {
    background-color: rgb(42, 85, 128);
}

/*-----------------------------
 * ARTICLES
 *-----------------------------*/
 .text {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
 }

